################
TEAM INFO
################
Name1: Phoebe Kim
EID1: ek23486
CS login: phoebek
Email: phoebekim12006@gmail.com
Unique Number: 54880

Name2: Tony Zhu 
EID2: 
CS login:
Email:
Unique Number:

Name3: Alisha Madhuvarshi
EID3:
CS login:
Email:
Unique Number:

Name4:
EID4:
CS login:
Email:
Unique Number:

Slip days used:

################

